/* Hamburger Menu */
.hamBtn 
{
    position: absolute;
    top: 30%;
    left: 14.65%;
    margin-left: -22px;
    margin-top: -22px;
    width: 44px;
    height: 33px;
    cursor: pointer;
  }

  .hamBtn b 
  {
    position: absolute;
    left: 0;
    width: 44px;
    height: 3px;
    background-color: white;
  }

  .hamBtn b:nth-child(1) 
  {
    top: 0;
  }

  .hamBtn b:nth-child(2) 
  {
    top: 50%;
  }

  .hamBtn b:nth-child(3) 
  {
    top: 100%;
  }
 