:root
{

    --clr-text-100: #FFF;
    --clr-perks-800: #191919;
    --clr-perk1-300: #D34848;
    --clr-perk2-700: #1FDEE6;
    --clr-perk3-300: #FFB33F;
    --clr-accent-400: rgb(67, 73, 73);

    @font-face 
    {s
        font-family: 'adobe-clean';
        src: 
            url('fonts/AdobeClean-Light.eot');
        src: 
            local('AdobeClean-Light') 
            url('fonts/AdobeClean-Light.ttf')
            format('truetype');
    }
}

#closing-ad
{
    height: 80vh;
    background-color: #191919;
}

    .closing-ad-content h1
    {
        font-family: adobe-clean, sans-serif;
        margin-top: 18%;
        margin-left: 8%;
        font-size: 64px;
        letter-spacing: 0.5rem;
        position: absolute;
        text-align: center;
        color: var(--clr-perk1-300);
        text-transform: uppercase;
    }

    .closing-ad-content h2
    {
        font-family: adobe-clean, sans-serif;
        margin-top: 24%;
        margin-left: 8%;
        font-size: 32px;
        letter-spacing: 0.5rem;
        position: absolute;
        text-align: center;
        color: var(--clr-text-100);
        text-transform: uppercase;
    }
    
    


    
