:root
{

    --clr-text-100: #FFF;
    --clr-perks-800: #191919;
    --clr-perk1-300: #D34848;
    --clr-perk2-700: #1FDEE6;
    --clr-perk3-300: #FFB33F;
    --clr-accent-400: rgb(67, 73, 73);

    @font-face 
    {
        font-family: 'adobe-clean';
        src: 
            url('fonts/AdobeClean-Light.eot');
        src: 
            local('AdobeClean-Light') 
            url('fonts/AdobeClean-Light.ttf')
            format('truetype');
    }
}

#perks2
{
    height: 80vh;
    background-color: var(--clr-perk1-300);
    
}

    .perks2-content h1
    {
        font-family: adobe-clean, sans-serif;
        margin-top: 10%;
        margin-left: 8%;
        font-size: 80px;
        letter-spacing: 0.5rem;
        position: absolute;
        text-align: center;
        color: var(--clr-text-100);
        text-transform: uppercase;
    }
    
    .perk2-1-hr
    {
        position: absolute;
        height: 2px;
        width: 8%;
        top: 136%;
        left: 8%;
        border-color: var(--clr-text-100);
    }

        .perks2-content .perk-1-2
        {
            font-family: adobe-clean, sans-serif;
            width: 4ch;
            margin-top: 20%;
            margin-left: 8%;
            font-size: 42px;
            letter-spacing: 0.5rem;
            position: absolute;
            text-align: left;
            color: var(--clr-text-100);
            text-transform: uppercase;
        }

            .perks2-content .terms-1-2
            {
                font-family: adobe-clean, sans-serif;
                width: 22ch;
                margin-top: 30%;
                margin-left: 8%;
                font-size: 30px;
                color: var(--clr-perks-800);
                letter-spacing: 0.1rem;
                position: absolute;
                text-align: left;
            }

    .perk2-2-hr
    {
        position: absolute;
        height: 2px;
        width: 8%;
        top: 136%;
        left: 35%;
        border-color: var(--clr-text-100);
    }

        .perks2-content .perk-2-2
        {
            font-family: adobe-clean, sans-serif;
            width: 20ch;
            margin-top: 20%;
            margin-left: 35%;
            font-size: 42px;
            letter-spacing: 0.5rem;
            position: absolute;
            text-align: left;
            color: var(--clr-text-100);
            text-transform: uppercase;
        }

            .perks2-content .terms-2-2
            {
                font-family: adobe-clean, sans-serif;
                width: 20ch;
                margin-top: 30%;
                margin-left: 35%;
                font-size: 30px;
                color: var(--clr-perks-800);
                letter-spacing: 0.1rem;
                position: absolute;
                text-align: left;
            }

            
    .perk2-3-hr
    {
        position: absolute;
        height: 2px;
        width: 8%;
        top: 136%;
        left: 64%;
        border-color: var(--clr-text-100);
    }

        .perks2-content .perk-3-2
        {
            font-family: adobe-clean, sans-serif;
            width: 6ch;
            margin-top: 20%;
            margin-left: 64%;
            font-size: 42px;
            letter-spacing: 0.5rem;
            position: absolute;
            text-align: left;
            color: var(--clr-text-100);
            text-transform: uppercase;
        }

            .perks2-content .terms-3-2
            {
                font-family: adobe-clean, sans-serif;
                width: 20ch;
                margin-top: 30%;
                margin-left: 64%;
                font-size: 30px;
                color: var(--clr-perks-800);
                letter-spacing: 0.1rem;
                position: absolute;
                text-align: left;
            }



    
