:root
{

    --clr-text-100: #FFF;
    --clr-perk1-300: #D34848;
    --clr-perk2-700: #1FDEE6;
    --clr-perk3-300: #FFB33F;
    --clr-accent-400: rgb(67, 73, 73);

    @font-face 
    {s
        font-family: 'adobe-clean';
        src: 
            url('fonts/AdobeClean-Light.eot');
        src: 
            local('AdobeClean-Light') 
            url('fonts/AdobeClean-Light.ttf')
            format('truetype');
    }
}

#red
{
    height: 100vh;
    background-color: var(--clr-perk1-300);
}

    .red-content h1
    {
        font-family: adobe-clean, sans-serif;
        margin-top: 20%;
        margin-left: 8%;
        font-size: 80px;
        letter-spacing: 0.5rem;
        position: absolute;
        text-align: center;
        color: var(--clr-text-100);
        text-transform: uppercase;
    }

    .red-content p
    {
        font-family: adobe-clean, sans-serif;
        margin-top: 26%;
        margin-left: 8%;
        font-size: 30px;
        letter-spacing: 0.5rem;
        position: absolute;
        text-align: center;
    }
